body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

.container{
    display: flex;
    border: 2px solid black;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 40px;
    margin: 20px;
    flex-direction: row;
}

.card{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.card:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.circle{
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 15px ;
    align-content: center;

}

h3{
    margin: 5px ;
    font-size: 24px;
}

p{
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}   