body
{
 font-family: Arial, Helvetica, sans-serif;
 background-color: white;
 margin:auto;
 padding:20px;
 text-align: center;
}
h1
{
 color: blue;
 margin: 20px;
}
h2
{
 color: green;
 margin: 15px;
}
p
{
 color: red;
 margin: 10px;
}
.product
{
 border: 2px solid black;
 padding: 10px;
 margin: 10px;
 display: inline-block;
 width: 400px;
 height:auto ;
 background-color: rgb(183, 189, 189);
 border-radius: 30px;
}   
.product img
{
 width: 200px;
 height: 300px;
 border-radius: 20px;
}
button
{
 background-color: rgb(123, 123, 220);
 color: white;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
}